*
!.gitignore

!advertising/
!drugs/
!fakenews/
!gambling/
!games/
!malicious/
!misc/
!piracy/
!porn/
!vpn/
!social/
!tld/
!tracking/
!url-shorteners/
!streaming/
!proxy/
!fascist/
!zionist/
!ai/
!professional/
!government/
!education/
!development/
!whitelist.example.json
!whitelist.md
!ignorelist.example.json
!host_files.example.json
!ignorelist.md
